#app {
  width: clamp(500px, 30%, 500px);
  min-height: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dark {
  background-color: hsl(222, 47%, 11%);
  color: hsl(0, 0%, 100%);
}

.dark #modal {
  background-color: hsl(222, 47%, 11%);
}

.dark select {
  background-color: hsl(217, 33%, 17%);
}

.dark .blank-guess-row {
  background-color: hsl(215, 19%, 35%);
}

.dark .country svg path {
  fill: white;
}

.dark input {
  background-color: hsl(217, 33%, 17%);
  border: 2px solid hsl(0, 0%, 100%);
}

#app svg {
  width: auto;
  height: 100%;
}

#app header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  border-bottom: 2px solid var(--gray-200);
  margin-bottom: 25px;
}

#app header button {
  border: none;
  outline: none;
  background-color: transparent;
  height: 20px;
  padding: 0;
  display: flex;
}

#app header > div {
  display: flex;
}

#app header > div:first-of-type {
  margin-left: 10px;
}

#app header > div:last-of-type {
  margin-right: 10px;
}

#app header > div *:first-child {
  margin-right: 5px;
}

#app header img {
  height: 20px;
  cursor: pointer;
}

#app header h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin-bottom: -15px;
  margin-top: 10px;
}

#app header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app header h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.accent {
  color: var(--accent);
  margin: 0 !important;
}

hr ~ hr {
  margin-top: 15px;
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  min-width: 200px;
  pointer-events: none;
  user-select: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
  padding: 1em 2em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
}

.alert svg {
  height: 24px !important;
  aspect-ratio: 1;
  margin-right: 20px;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

#modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
}

#modal header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 10px !important;
  padding-block: 5px;
}

#modal .close-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  padding: 0;
}

#modal .close-btn img {
  width: 100%;
  height: 100%;
}

#modal .content > p {
  margin-bottom: 10px;
  font-size: 0.9em;
}

#modal .content > p img {
  height: 0.9em;
  display: inline;
  margin-left: 2px;
}

#modal .guess-row:first-of-type {
  margin-top: 10px;
}

#modal .guess-row {
  margin-bottom: 10px;
}

#modal select {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: 0 solid #e5e7eb;
  height: 2rem;
  margin-right: 10px;
  width: 65px;
}

#modal select:first-of-type {
  margin-bottom: 10px;
}

#modal .difficulty {
  margin-top: 30px;
}

#modal .difficulty h3 {
  margin-bottom: 10px;
}

#modal .difficulty > div {
  margin-bottom: 5px;
}

#modal .difficulty > div label {
  margin-left: 5px;
}

.country {
  width: 100%;
  height: min(25vh, 225px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.guesses {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-grid {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  margin-bottom: 0.5em;
}

div.blank-guess-row {
  background-color: var(--gray-200);
  height: 30px;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
}

div.guess-row.animated {
  grid-template-columns: 6fr 1fr;
}

div.guess-row.animated > :first-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div.guess-row.animated .square {
  -webkit-animation: reveal 0.2s forwards;
  animation: reveal 0.2s forwards;
  opacity: 0;
  user-select: none;
}

div.guess-row.animated > :first-child img {
  height: 25px;
}

div.guess-row {
  background-color: transparent;
  min-height: 32px;
  width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}

div.guess-row img {
  height: 15px;
}

div.guess-row > div {
  border: 2px solid var(--gray-200);
  height: 100%;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.guess-row > div:first-of-type {
  text-transform: uppercase;
  overflow: hidden;
}

div.guess-row > div:first-of-type p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.make-guess {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete input {
  width: inherit;
  font-weight: 300;
  padding: 0.3em;
  border: 2px solid var(--gray-200);
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: text;
}

.autocomplete .suggestions {
  position: absolute;
  bottom: 100%;
  max-height: 25vh;
  overflow-y: auto;
  background-color: var(--gray-200);
  padding-top: 10px;
  padding-inline: 5px;
  width: inherit;
  margin: 0;
}

.autocomplete .suggestions > li {
  background-color: white;
  margin-bottom: 0.25em;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.guess-country {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray-200);
  outline: none;
  background-color: transparent;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: bold;
}

.guess-country:hover {
  background-color: hsl(220 13% 91% / 0.25);
}

.guess-country:focus-visible {
  border: 2px solid black;
}

.guess-country img {
  max-height: 1rem;
  margin-right: 5px;
}

.share-button {
  background-color: var(--accent);
  text-transform: uppercase;
  width: 100%;
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  border-radius: 5px;
  height: 32px;
}

.share-button:hover,
.share-button:focus-visible {
  background-color: var(--accent-hover);
}

.view-on-maps {
  margin-top: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-on-maps img {
  height: 24px;
}

.view-on-maps a {
  color: inherit;
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  #app {
    width: 100%;
  }

  #modal {
    padding-inline: 10px;
  }

  .guesses {
    padding: 10px;
  }

  .alert-container {
    top: 0;
    width: 100%;
  }

  .alert {
    width: 100%;
    padding-block: 1.5em;
    justify-content: unset;
    align-items: unset;
  }
}
