:root {
  /* color */
  --accent: hsl(142, 76%, 36%);
  --accent-hover: hsl(142, 71%, 45%);
  --gray-200: hsl(220, 13%, 91%);
  --font-weight-light: 300;
  --font-weight-heavy: 500;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--gray-100);
  color: var(--gray-400);
  font-weight: var(--font-weight-light);
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

hr {
  border: none;
  height: 2px;
  color: var(--gray-200);
  background-color: var(--gray-200);
  margin-bottom: 15px;
}

a {
  color: var(--gray-400);
}

.dark a {
  color: hsl(0, 0%, 100%);
}
